<div class="modal fade" id="smallModal" tabindex="-1" role="dialog" aria-labelledby="smallModal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Bet Slip</h4>
      </div>
      <div class="modal-body">
         {% for selection in session.betslip  %} 
          <div class="row">
          {{ selection.name }} <small><em> ({{selection.market.name}})</em></small>
          </div>
         {% endfor %}
      </div>
      <div class="modal-footer">
        <a href="{{ url_for('clear_bets') }}" class="btn btn-danger">Clear</a>
        <a href="{{ url_for('confirm_bets') }}" class="btn btn-success">Confirm</a>
      </div>
    </div>
  </div>
</div>