<div class="modal fade" id="smallModal" tabindex="-1" role="dialog" aria-labelledby="smallModal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Bet Slip</h4>
      </div>
      <div class="modal-body">
         <div class="well">
          {% for selection in session.betslip  %} 
          <div class="row">
          {{ selection.name }} <small><em> {{ selection.market_name() }} </em></small>
          </div>
         {% endfor %}
        </div>
      </div>
      <div class="modal-footer">
        <h4>Total: {{ '$%0.2f' % session.betslip|count }}</h4>
          <a href="{{ url_for('clear_bets') }}" class="btn btn-danger"><span class="glyphicon glyphicon glyphicon-remove"></span> Clear</a>
        <a href="{{ url_for('confirm_bets') }}" class="btn btn-success"><span class="glyphicon glyphicon glyphicon-ok"></span> Confirm</a>
      </div>
    </div>
  </div>
</div>